body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    overflow: scroll;
    overflow-x: hidden;
}

.body-wrapper {
    width: 100%;
    max-width: 1100px; /* Adjust the maximum width of the wrapper as needed */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}
#similar-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    width: 100vw;
    box-sizing: border-box;
    justify-content: center;
    scroll-behavior: smooth;
}

.product {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 20px;
    flex: 0 0 auto;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-image img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.product h2 {
    font-size: 20px;
    color: #333;
    margin: 0 0 15px 0;
}

.product p {
    font-size: 14px;
    color: #666;
    margin: 0 0 15px 0;
}

.product .logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: auto;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
